.banner{
    height:100vh;
    background: rgb(240,240,244);
    background: linear-gradient(110deg, rgba(240,240,244,1) 0%, rgba(135,167,185,1) 100%);
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}